<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/">

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- bootstrap -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- google icon fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>


  <title>Morse</title>

</head>

<body>
  <div class="container">

    <h1>Hello, World!</h1>

      <div class="inputs">
        <p>These are your morse letters so far: <span id="letter-target"></span> </p>
      </div>

      <div class="inputs">
        <p>These are your words in morse so far: <span id="word-target"></span> </p>
      </div>

      <div class="outputs">
        <p>These are your decoded words: <span id="decoded-target"></span></p>
      </div>

  </div>
</body>

</html>
