<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/">

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Monoton|Archivo+Black|Special+Elite|Comfortaa' rel='stylesheet' type='text/css'>

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>

  <title>Morse</title>

</head>

<body>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-1">Hello, World!</h1>
    </div>
  </div>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button class="btn btn-default-right" data-toggle="modal" data-target="#basicModal">Morse Charts
        </button>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            <h4 class="modal-title" id="myModalLabel">Morse Charts</h4>
          </div>
          <div class="modal-body">
            <img src="http://post.queensu.ca/~dudleyl/seafarers/morse_diagram_v4.gif" alt="Morse Chart 1" />
            <img src="http://alina_stefanescu.typepad.com/.a/6a00d8341ce39f53ef01a3fca05502970b-550wi" alt="Morse Chart 2" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="inputs">
      <h3>These are the dots and dashes you have entered: <span id="dotsdashes-target"></span></h3>
    </div>

    <div class="inputs">
      <h3>These are your encoded morse letters: <span id="letter-target"></span></h3>
    </div>

    <div class="inputs">
      <h3>These are your encoded words: <span id="word-target"></span></h3>
    </div>

    <div class="outputs">
      <h3>And these are your decoded words: <span id="decoded-target"></span></h3>
    </div>

    <div id="container" style="width: 300px; height: 300px; margin: 0 auto"></div>

  </div>
</body>

</html>
