/*font-family: 'Righteous', cursive;
               'Monoton', cursive;
               'Comfortaa', cursive;*/

h3 {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: #D2FEFF;
}

.jumbotron {
  font-family: 'Monoton', cursive;
  color: #D4F5BA;
  position: relative;
  background: url("/images/jumbotronimage.jpg") center center;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: auto;
}

.btn {
  margin-top: 0.5em;
  background-color: #6C8271;
  font-family: "Comfortaa", cursive;
}

.navbar {
  background-color: #95C4CE;
}

.modal-content {
  font-family: "Comfortaa", cursive;
}

.modal-body {
  background-color: #D2FEFF;
}

.modal-header {
  background-color: #95C4CE;
}

.modal-footer {
  background-color: #95C4CE;

}

.m-y-2 {
  margin-top: 7em;
}

#sub-title {
  font-family: 'Comfortaa', cursive;
}

#footer {
  font-family: 'Righteous', cursive;
  text-align: right;
}

#about-image {
  height: 200px;
  width: 300px;
  display: block;
  margin: auto;

}
